.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid 4px hsla(168, 35%, 19%, 0.7);
  background-color: hsla(168, 35%, 45%, 0.2);
}

.h2 {
  text-align: center;
  padding: 1rem;
}

.label {
  font-weight: bold;
}

.checkbox {
  display: grid;
  grid-template-columns: auto auto auto;
}

.checkboxItems {
  display: flex;
  justify-content: flex-start;
}

.submit {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.7rem;
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {
  .h2 {
    font-size: 1.7vw;
  }

  .label{
    font-size: 1.6vw;
  }

  .checkboxItems{
    font-size: 1.6vw;
  }

  input.text{
    font-size: 1.4vw;
  }

  input.inputBox{
    width: 1vw;
  }

  textarea.text{
    font-size: 1.4vw;
  }

  .submit{
    font-size: 1.4vw;
  }
}
