.main {
  font-weight: bold;
}

.h1 {
  font-family: "Castoro", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 14vw;
  padding: 1rem;
}

@media only screen and (min-width: 700px) {
  .h1 {
    font-size: 8vw;
  }
}

.explanation {
  padding: 1rem;
  font-size: 1.1rem;
}

.ul {
  padding-left: 1.5rem;
}

.li{
  padding-top: .75rem;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
  .explanation {
    font-size: 1.4vw;
  }
}
