.h1 {
  font-family: "Castoro", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 14vw;
  padding: 1rem;
}

.main {
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h2 {
  font-size: 1.15rem;
  text-decoration: underline;
  color: hsla(168, 35%, 19%, 0.7);
}

.ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  list-style: square;
  font-weight: bold;
  font-size: 1.1rem;
}

.innerUl {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.innerLi{
  padding-top: .75rem;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  .h1 {
    font-size: 8vw;
  }

  .faqs {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .ul{
    font-size: 1.4vw;
  }

  .innerUl{
    font-size: 1.4vw;
  }

  .h2{
    font-size: 1.6vw;
  }
}