.fullPage {
  min-height: 100vh;
}

.h1 {
  font-family: "Castoro", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 14vw;
  padding: 1rem;
}

@media only screen and (min-width: 700px) {
  .h1 {
    font-size: 8vw;
  }
}

/* to ensure website covers the screen even when there isn't enough content */

.main{
  min-height: 67vh;
}

@media only screen and (min-width: 1000px) {
  .main{
    min-height: 74vh;
  }
}

/* for when there are no authors to list */

.awaitingAuthors {
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.awaitingH3 {
  font-size: 1.2rem;
  padding: 1rem;
}

.awaitingP {
  font-size: 1.1rem;
}

@media only screen and (min-width: 1000px) {
  .awaitingH3 {
    font-size: 1.6vw;
  }

  .awaitingP {
    font-size: 1.4vw;
  }
}

/* for when there are authors to list */

.authorsListed{
  font-family: Georgia, "Times New Roman", Times, serif;
}

.authorBox{
    border: hsla(168, 35%, 19%, 0.7) solid 5px;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    max-width: 80vw;
}

@media only screen and (min-width: 600px) {
  .authorsListed{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }  
  
  .authorBox{
    width: 25vw;
  }
}

@media only screen and (min-width: 800px) {
  .authorsListed{
    grid-template-columns: auto auto auto;
  }
}

.authorBoxP{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .authorBoxH3{
    font-size: 1.3rem
  }

  .authorBoxP{
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .authorBoxP{
    font-size: 1.4vw;
  }
}

.authorBoxModalArrow{
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .authorBoxModalArrow{
    font-size: 1.4vw;
  }
}

/* for when modal is open */

.authorModal{
  background-color: hsla(168, 35%, 19%, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalInfo{
  background-color: whitesmoke;
  border: hsl(168, 35%, 19%) solid 3px;
  border-radius: 5px;
  align-self: center;
  max-width: 83vw;
  max-height: 70vh;
  padding: 1rem;
  overflow: scroll;
}

.modalH3{
  text-align: center;
}

.modalUl{
  list-style: none;
  padding-left: .5rem;
}

.modalA{
  padding-left: .5rem;
}

@media only screen and (min-width: 800px) {
  .modalH3{
    font-size: 1.3rem;
  }

  .modalH4{
    font-size: 1.2rem;
  }

  .modalP{
    font-size: 1.1rem;
  }

  .modalUl{
    font-size: 1.1rem;
  }

  .modalA{
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .modalH3{
    font-size: 1.6vw;
  }

  .modalH4{
    font-size: 1.5vw;
  }

  .modalP{
    font-size: 1.4vw;
  }

  .modalUl{
    font-size: 1.4vw;
  }

  .modalA{
    font-size: 1.4vw;
  }
}
